body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
}

a:visited {
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allImg {
  height: 100px;
  width: 100px;
}

.auth-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#cartItem-img {
  height: 30px;
  width: 30px;
}

#cartItem-div {
  border: 1px solid;
  width: 25%;
}

.center {
  justify-content: center;
  align-items: center;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 30px;
  width: 100px;
  transition: background-color 1s, color 1s, border 1s;
}

.form-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.form-input {
  margin: 5px;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
}

.nav-bar-routes {
  transition: border-bottom 0.15s;
}

.nav-bar-routes:hover {
  border-bottom: 2px solid black;
}

.nav-bar-routes-container {
  display: flex;
}
