body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.allImg {
  height: 100px;
  width: 100px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 30px;
  width: 100px;
  transition: background-color 1s, color 1s, border 1s;
}

.form-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

#cartItem-img {
  height: 30px;
  width: 30px;
}

#cartItem-div {
  border: 1px solid;
  width: 25%;
}

.single-item-container {
  display: flex;
  justify-content: center;
}

.single-item-picture {
  height: 40em;
  width: 40em;
}

.single-item-info-container {
  padding-left: 20px;
}

.single-item-name {
  margin: 4vh 0 1vh 0;
  font-size: 2em;
  font-weight: 50;
}

.single-item-description {
  margin: 4vh 0 1vh 0;
}

label .star {
  float: left;
}

input[type='radio'] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
  height: 2em;
  width: 2em;
}
